<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Gym17</title>

    <!---    <link rel="icon" type="image/png" href="/favicon.png" /> --->
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/build/bundle.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link
      type="text/css"
      href="./vendor/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Notyf -->
    <link
      type="text/css"
      href="./vendor/notyf/notyf.min.css"
      rel="stylesheet"
    />

    <!-- Volt CSS -->
    <link type="text/css" href="./css/volt.css" rel="stylesheet" />
    <script defer src="/build/bundle.js"></script>
  </head>

  <body></body>
</html>
